
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready");
            $.get('/api/WebAPI/GetUserName', function (data) {
                
                if (data != null) {
                    $(".username").text(data + " 您好!");
                    $('#Logout').text("登出");
                }
            });
        });
    </script>
    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
    <!-- Site CSS -->
    <link href="~/freshshop/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    @*<link href="~/freshshop/css/responsive.css" rel="stylesheet">*@
    <!-- Custom CSS -->
    @*<link href="~/freshshop/css/custom.css" rel="stylesheet">*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/Images/logo.png" width="50" height="50"  />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Shop" asp-action="HomePage">首頁</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">會員</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown01">
                                <li>@Html.ActionLink("登入", "Login", "Shop", new { }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("註冊", "SignUp", "Shop", new { }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Products">商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="BuyCart">購物車</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Order">訂單</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Logout" asp-controller="Shop" asp-action="Logout"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active username" href=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">未啟用</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="商品名稱" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" style="width:80px;height:38px;">搜尋</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody();


    <script src="/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/freshshop/js/jquery.superslides.min.js"></script>
    <script src="~/freshshop/js/images-loded.min.js"></script>
    <script src="~/freshshop/js/isotope.min.js"></script>
    <script src="~/freshshop/js/custom.js"></script>
</body>
</html>
