
@{
    ViewData["Title"] = "AdminHomePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-action="AdminHomePage" asp-controller="Shop">
                    <span data-feather="home"></span>
                    總覽
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminCreateProduct" asp-controller="Shop">
                    <span data-feather="file"></span>
                    上架商品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminListProducts" asp-controller="Shop">
                    <span data-feather="shopping-cart"></span>
                    商品管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminDiscontinuedProducts" asp-controller="Shop">
                    <span data-feather="layers"></span>
                    已下架商品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminOrders" asp-controller="Shop">
                    <span data-feather="bar-chart-2"></span>
                    訂單管理
                </a>
            </li>
        </ul>

        
    </div>
</nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">每日銷售表</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <h2>銷售量</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>品名</th>
                    <th>總銷售額</th>
                    <th>總銷售數</th>
                    <th>種類</th>
                </tr>
            </thead>
            <tbody id="display">
            </tbody>
        </table>
    </div>
</main>
<script>
    $(document).ready(function () {
        fetch('https://coreshopdemo.azurewebsites.net/api/WebAPI/GetDashBoardData')
            .then(function (response) {
                if (response.status == 401) {
                    alert("權限有誤! 請重新登入會員!");
                    throw new Error("HTTP status " + response.status);
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                showDashboard(data)
            })
            .catch(error => console.error('Unable to get items.', error));

        fetch('https://coreshopdemo.azurewebsites.net/api/WebAPI/GetProductsSellData')
        .then(function (response) {
            if (response.status == 401) {
                alert("權限有誤! 請重新登入會員!");
                throw new Error("HTTP status " + response.status);
            }
            return response.json();
        })
            .then(data => {
                //console.log(data);
            $.each(data, function (key, item) {
                //console.log(item);
                var tr = $("<tr>").appendTo($("#display"));
                $("<td>", { text: item.id }).appendTo(tr);
                $("<td>", { text: item.ProductName }).appendTo(tr);
                $("<td>", { text: item.Total }).appendTo(tr);
                $("<td>", { text: item.Quantity }).appendTo(tr);
                $("<td>", { text: item.ProductType }).appendTo(tr);

            })
        })
        .catch(error => console.error('Unable to get items.', error));
    })
</script>
<script>
    function showDashboard(item) {
        'use strict'

        feather.replace()

        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    '星期日',
                    '星期一',
                    '星期二',
                    '星期三',
                    '星期四',
                    '星期五',
                    '星期六'
                ],
                datasets: [{
                    data: [
                        item.SundayTotal,
                        item.MondayTotal,
                        item.TuesdayTotal,
                        item.WednesdayTotal,
                        item.ThursdayTotal,
                        item.FridayTotal,
                        item.SaturdayTotal
                    ],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        })
    }
</script>
