
@{
    ViewData["Title"] = "AdminOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="~/freshshop/css/style.css" rel="stylesheet">
<style>
    body {
        color: #666666;
        font-size: 14px;
        font-family: Arial;
    }
</style>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminHomePage" asp-controller="Shop">
                    <span class="material-icons">trending_up</span>
                    總覽
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminCreateProduct" asp-controller="Shop">
                    <span class="material-icons">add_shopping_cart</span>
                    上架商品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminListProducts" asp-controller="Shop">
                    <span class="material-icons">rule</span>
                    商品管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminDiscontinuedProducts" asp-controller="Shop">
                    <span class="material-icons">remove_shopping_cart </span>
                    已下架商品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="AdminOrders" asp-controller="Shop">
                    <span class="material-icons">assignment</span>
                    訂單管理
                </a>
            </li>
        </ul>

        
    </div>
</nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <section class="py-5 text-center container">
        <div id="myDIV">
            <button class="btn btn-primary my-2" value="" onclick="GetAllOders(this.value)">所有區域</button>
            <button class="btn btn-secondary my-2" value="/台北市" onclick="GetAllOders(this.value)">台北市</button>
            <button class="btn btn-secondary my-2" value="/新北市" onclick="GetAllOders(this.value)">新北市</button>
        </div>
    </section>
    <div class="col-lg-12">
        <div class="table-main table-responsive">
            <table class="table">
                <thead style="background-color: royalblue">
                    <tr>
                        <th>訂單編號</th>
                        <th>訂單明細</th>
                        <th>收件人</th>
                        <th>收件人Email</th>
                        <th>收件人電話</th>
                        <th>寄送地址</th>
                        <th>金額</th>
                        <th>訂購時間</th>
                        <th>訂單狀態</th>
                        <th>縣市</th>
                        <th>確認更新</th>
                    </tr>
                </thead>
                <tbody id="display">
                    
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        //$("#city").val("新北市");
        GetAllOders("");
    })
</script>
<script>
    function GetAllOders(city) {
        fetch('https://coreshopdemo.azurewebsites.net/api/WebAPI/GetAllOrders' + city, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
        .then(function (response) {
            if (response.status == 401) {
                alert("權限有誤! 請重新登入會員!");
                throw new Error("HTTP status " + response.status);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            $("#display").empty();
            $.each(data, function (key, item) {
                var tr = $("<tr>").appendTo($("#display"));
                var tdOrderNum = $(`<td><p>${item.orderNum}</p></td>`);
                var tdDetails = $(`<td>
                                    <p> <a data-toggle="collapse" href="#orderDetails${item.id}" role="button" aria-expanded="false">檢視明細</a></p>
                                    <div class="col-md-12 col-lg-12 collapse" id="orderDetails${item.id}">
                                        <div class="odr-box">
                                            <div class="rounded p-2 bg-light">
                                                <div class="media mb-2 border-bottom" id="detailsContainer${item.id}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>`);

                var tdBuyerName = $(`<td><p>${item.buyerName}</p></td>`);
                var tdBuyerEmail = $(`<td><p>${item.buyerEmail}</p></td>`);
                var tdBuyerPhone = $(`<td><p>${item.buyerPhone}</p></td>`);
                var tdShipAdrress = $(`<td><p>${item.shipAddress}</p></td>`);
                var tdTotal = $(`<td><p>NT$ ${item.total}</p></td>`);
                var tdCreatedAt = $(`<td><p>${new Date(item.createdAt).toLocaleString()}</p ></td >`);
                var tdOrderStatus = $(`<td>
                                    <select class="wide w-100" id="status-${item.id}">
                                        <option value="已付款">已付款</option>
                                        <option value="已出貨">已出貨</option>
                                        <option value="取消中">取消中</option>
                                        <option value="已取消">已取消</option>
                                    </select>
                                    </td>`);
                var tdCity = $(`<td><p>${item.shipCity}</p></td>`);
                var tdUpdate = $("<td>");
                var tdUpdateBtn = $("<button>", {
                    type: "button", class: "btn btn-sm btn-outline-secondary", id: `${item.id}`, text: "更新"
                    , onclick: `changeOrderStatus(this.id,$("#status-${item.id}").val())`
                    , style: "width:90px;"
                });

                tdOrderNum.appendTo(tr);
                tdDetails.appendTo(tr);
                tdBuyerName.appendTo(tr);
                tdBuyerEmail.appendTo(tr);
                tdBuyerPhone.appendTo(tr);
                tdShipAdrress.appendTo(tr);
                tdTotal.appendTo(tr);
                tdCreatedAt.appendTo(tr);
                tdOrderStatus.appendTo(tr);
                tdCity.appendTo(tr);
                tdUpdate.appendTo(tr);
                tdUpdateBtn.appendTo(tdUpdate);

                item.orderDetails.forEach(function (detail) {
                    //console.log(item);
                    var contanier = $(`<div class="media-body">
                                    <a href="#">${detail.productName}</a>
                                    <div class="small text-muted">
                                        單價: ${detail.productPrice} 
                                        <span class="mx-2">|</span> 
                                        數量: ${detail.quantity} 
                                        <span class="mx-2">|</span> 
                                        金額: ${detail.quantity * detail.productPrice} 
                                    </div>
                                    </div>`);
                    contanier.appendTo(`#detailsContainer${item.id}`);
                });

                if (item.isCancel == true && item.isDone == false) {
                    $(`#status-${item.id}`).val("取消中");
                }
                else if (item.isPaid && item.isShipped) {
                    $(`#status-${item.id}`).val("已出貨");
                }
                else if (item.isCancel == true && item.isDone == true) {
                    var td = $(`#status-${item.id}`).parent();
                    td.empty();
                    td.append("已取消");
                    $(`#${item.id}`).parent().empty();
                }
            })
        })
        .catch(error => console.error('Unable to get items.', error));
    }
</script>
<script>
    function changeOrderStatus(id, value) {
        console.log(id,value);
        var orderUpdate = {
            isPaid: true,
            isShipped: false,
            isCancel: false,
            isDone: false
        };
        if (value == "已付款") {
            return;
        }
        else if (value == "取消中") {
            return;
        }
        else if (value == "已出貨") {
            orderUpdate.isShipped = true;
        }
        else if (value == "已取消") {
            orderUpdate.isCancel = true;
            orderUpdate.isDone = true;
        }


        fetch('https://coreshopdemo.azurewebsites.net/api/WebAPI/Order/' + id, {
            method: 'PATCH',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(orderUpdate)
        })
        .then(function (response) {
            if (response.status == 401) {
                alert("權限有誤! 請重新登入會員!");
                throw new Error("HTTP status " + response.status);
            }
            return response.json();
        })
        .then((data) => {
            //console.log(data);
            alert(data);
        })
        .catch(err => console.error('Unable to add order.', err))
    }
</script>

