
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestAdminLogin</title>
</head>
<body>
    <p>您好 @ViewData["UserName"] 管理員</p>
</body>
</html>
